:root { --razer-green: #44d62c; }

.font-syncopate { font-family: 'Syncopate', sans-serif; }
.razer-txt-glow { text-shadow: 0 0 15px var(--razer-green); }

/* --- DECORACIONES DE EXTREMOS --- */
.bg-grid-pattern {
    background-image: linear-gradient(var(--razer-green) 1px, transparent 1px),
                      linear-gradient(90deg, var(--razer-green) 1px, transparent 1px);
    background-size: 50px 50px;
}

.tech-line-v {
    width: 1px;
    background: linear-gradient(to bottom, transparent, var(--razer-green), transparent);
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/* --- ESTILOS DE JUEGO --- */
.lane {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.key-hint {
    position: absolute;
    bottom: 5px;
    font-size: 14px;
    color: #1a1a1a;
    font-family: 'Syncopate';
}

.note {
    position: absolute;
    width: 80%;
    height: 18px;
    background: var(--razer-green);
    box-shadow: 0 0 15px var(--razer-green);
    border-radius: 2px;
    z-index: 15;
    will-change: top;
    transform: translateZ(0); 
}

.hit-flash { animation: flash 0.1s ease-out; }
@keyframes flash {
    0% { background-color: rgba(68, 214, 44, 0.4); }
    100% { background-color: transparent; }
}

.btn-razer:hover { 
    background: var(--razer-green); 
    color: black; 
    box-shadow: 0 0 20px var(--razer-green); 
}